###############
## PARAMETERS #
###############

## Defauls are defined in .schema file
## Defauls can be ovewritten by YAML config files

{% set CLUSTER_TYPE = env['project'] + '/' + env['deployment'] %}

{% set SECRET_COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set SECRET_COLLECTION = SECRET_COLLECTION_PREFIX + 'secrets' %}
{% set NAME_PREFIX = env['deployment'] %}
{% set NAME = env['name'] %}

{% set NAMESPACE = properties['namespace'] %}
{% set DATA_FILE_NAME = properties['dataFileName'] %}
{% set DATA = properties['data'] %}

##################
## GCP RESOURCES #
##################

resources:
- name: {{ NAME_PREFIX }}-{{ NAME }}-secret
  type: {{ CLUSTER_TYPE }}-type:{{ SECRET_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Secret
    namespace: {{ NAMESPACE }}
    type: Opaque
    metadata:
      name: {{ NAME_PREFIX }}-secret
      labels:
        id: {{ NAME_PREFIX }}-secret
    data:
      {{ DATA_FILE_NAME }}:
        {{ DATA }}
  metadata:
    dependsOn:
      - {{ NAME_PREFIX }}-type
      - {{ NAME_PREFIX }}-namespace-{{ NAMESPACE }}
